body {
  margin: 0;
  font-family: Georgia, serif;
  background: radial-gradient(#3E2723, #1B0F0A);
  color: #D7CCC8;
  text-align: center;
}

.container {
  max-width: 700px;
  margin: 80px auto;
  padding: 20px;
}

h1, h2 {
  color: #D4AF37;
}

form {
  display: flex;
  flex-direction: column;
  gap: 18px;
}

label {
  display: block;
  margin-bottom: 6px;
  text-align: left;
}

input, select, textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  background: #2b1b16;
  border: 1px solid #5D4037;
  color: #D7CCC8;
}

button {
  background: #5D4037;
  color: white;
  border: 1px solid #D4AF37;
  padding: 12px;
  cursor: pointer;
}

.player-block {
  padding: 10px;
  border: 1px solid #5D4037;
  margin-bottom: 10px;
  border-radius: 5px;
}
* {
  box-sizing: border-box;
}

.loader {
  border: 4px solid #3E2723;
  border-top: 4px solid #D4AF37;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  margin: 20px auto;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.progress-container {
  width: 100%;
  background: #2b1b16;
  border: 1px solid #5D4037;
  margin-top: 20px;
  position: relative;
  height: 25px;
}

#progressBar {
  width: 0%;
  height: 100%;
  background: #D4AF37;
  transition: width 0.2s;
}

#errorOverlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  display: none;

  color: red;
  font-weight: bold;
  font-size: 14px;

  align-items: center;
  justify-content: center;

  background: rgba(0,0,0,0.6);
}

#funButton {

  display: block;
  margin: 40px auto;

  padding: 20px 30px;

  font-size: 24px;
  font-family: Georgia, serif;

  font-weight: bold;

  color: #D4AF37;

  background: #2b1b16;

  border: 2px solid #D4AF37;

  cursor: pointer;

  text-align: center;

  transition: 0.3s;
}

#funButton:hover {
  background: #3E2723;
  transform: scale(1.03);
}

/* =========================
   BOUTON MENU
========================= */

.menu-button {

  position: absolute;
  top: 20px;
  left: 20px;

  text-decoration: none;

  color: #D4AF37;

  border: 1px solid #D4AF37;

  padding: 10px 15px;

  background: rgba(0,0,0,0.4);

  font-weight: bold;
}

.menu-button:hover {
  background: #3E2723;
}
